<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Ansible para programadores</title>
<meta name="author" content="(José Miguel)"/>
<style type="text/css">
.underline { text-decoration: underline; }
</style>
<link rel="stylesheet" href="http://cdn.jsdelivr.net/reveal.js/3.0.0/css/reveal.css"/>

<link rel="stylesheet" href="http://cdn.jsdelivr.net/reveal.js/3.0.0/css/theme/solarized.css" id="theme"/>


<!-- If the query includes 'print-pdf', include the PDF print sheet -->
<script>
    if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'http://cdn.jsdelivr.net/reveal.js/3.0.0/css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    }
</script>
</head>
<body>
<div class="reveal">
<div class="slides">
<section id="sec-title-slide"><h1 class="title">Ansible para programadores</h1><h2 class="author">José Miguel</h2><p class="date">Created: 2018-06-02 Sat 10:31</p>
</section>

<section>
<section id="slide-org4a4da42">
<h2 id="org4a4da42">Introducción</h2>
<ul>
<li>Quién soy</li>
<li>Qué hago</li>

</ul>

</section>
</section>
<section>
<section id="slide-org5b3a14f">
<h2 id="org5b3a14f">Qué quiero</h2>
<blockquote nil>
<p>
Make everything as simpler as possible,
but not simpler.
</p>

<p>
Albert Einstein
</p>
</blockquote>

</section>
</section>
<section>
<section id="slide-org25342e8">
<h2 id="org25342e8">Motivación</h2>
<ul>
<li>Tareas repetitivas</li>
<li>Procastrinación</li>
<li>Pedagogía</li>

</ul>

</section>
</section>
<section>
<section id="slide-org44052e3">
<h2 id="org44052e3">Una definición</h2>
<blockquote nil>
<p>
Automated provisioning, also called self-service provisioning, is the
ability to deploy an information technology or telecommunications
service by using predefined procedures that are carried out
electronically without requiring human intervention.
</p>
</blockquote>

</section>
</section>
<section>
<section id="slide-orgc73cdda">
<h2 id="orgc73cdda">Opciones</h2>
<ul>
<li><b><b>ansible</b></b></li>
<li>cfengine</li>
<li>chef</li>
<li>puppet</li>
<li>salt</li>

</ul>

</section>
</section>
<section>
<section id="slide-org6bab322" data-background="imagenes/SurfaceLaptop.png" data-background-size="1400px" data-background-transition="slide">
<h2 id="org6bab322">Objectivo</h2>
<pre class="example">
configúrate
</pre>

</section>
</section>
<section>
<section id="slide-org45c77da">
<h2 id="org45c77da">Ansible</h2>
<ul>
<li>requisitos básicos
<ul>
<li>ssh</li>
<li>python</li>

</ul></li>
<li>lenguaje sencillo
<ul>
<li>yaml</li>

</ul></li>

</ul>

</section>
</section>
<section>
<section id="slide-orgeeb1673">
<h2 id="orgeeb1673">Preparación</h2>
<ul>
<li>python 3 con virtualenv</li>

</ul>

<pre class="example">
mkdir proyecto
cd proyecto
python3 -m venv venv
</pre>

</section>
</section>
<section>
<section id="slide-orgb4f6e04">
<h2 id="orgb4f6e04">cat requirements.txt</h2>
<pre class="example">
ansible
</pre>

</section>
</section>
<section>
<section id="slide-orgaaeb4cc">
<h2 id="orgaaeb4cc">Inventario: cat hosts</h2>
<pre class="example">
[local]
127.0.0.1
</pre>

</section>
</section>
<section>
<section id="slide-orgc11b039">
<h2 id="orgc11b039">Tareas de un programador</h2>
<p>
Acciones a realizar:
</p>
<ul>
<li>instalar paquetes</li>
<li>copiar ficheros</li>
<li>etc</li>

</ul>

<p>
Nuestros requisitos para un proyecto con scala:
</p>
<ul>
<li>git</li>
<li>openjdk</li>
<li>sbt</li>

</ul>

</section>
</section>
<section>
<section id="slide-orgf98ad7c">
<h2 id="orgf98ad7c">Rol</h2>
<ul>
<li>Criterio para agrupar tareas.</li>

</ul>

<pre class="example">
mkdir -p roles/programador/tasks
touch roles/programador/tasks/main.yml
</pre>

</section>
</section>
<section>
<section id="slide-org5126293">
<h2 id="org5126293">cat programador/tasks/main.yml</h2>
<pre class="example">
---
- name: Update pacman cache
  become: true
  pacman:
    update_cache: yes

- name: Install packages
  become: true
  pacman:
    name: "{{ item }}"
    state: present
  with_items:
    - git
    - meld
    - jdk8-openjdk
    - openjdk8-doc
    - openjdk8-src
    - sbt
</pre>

</section>
</section>
<section>
<section id="slide-orgefa2d0e">
<h2 id="orgefa2d0e">cat programador.yml</h2>
<pre class="example">
---
- name: Preparacion proyecto X
  hosts: local
  connection: local
  roles:
    - programador
</pre>

</section>
</section>
<section>
<section id="slide-org4a2702b">
<h2 id="org4a2702b">Funciona?</h2>
<pre class="example">
cd proyecto
source venv/bin/activate
pip install -r requirements.txt
ansible-playbook -i hosts programador.yml
</pre>

</section>
</section>
<section>
<section id="slide-org5a598a3">
<h2 id="org5a598a3">Rol por proyecto</h2>
<p>
Llegados a este punto, tenemos una buena base para empezar a trabajar.
</p>

<p>
Hay más candidatos para automatizar?
</p>

</section>
</section>
<section>
<section id="slide-org4f18195">
<h2 id="org4f18195">Tareas versión 2</h2>
<p>
Aprovechamos la oportunidad para limpiar un poco nuestro fichero principal de tareas.
</p>

<pre class="example">
mv roles/programador/tasks/main.yml \
   roles/programador/tasks/paquetes.yml
</pre>

</section>
</section>
<section>
<section id="slide-org75b2387">
<h2 id="org75b2387">cat roles/programador/tasks/sbt.yml</h2>
<pre class="example">
---
- name: SBT config plugins directory
  file:
    path: "{{ home_dir }}/.sbt/1.0/plugins"
    recurse: yes
    state: directory
    mode: 0755

- name: SBT Global plugins
  copy:
    src: files/plugins.sbt
    dest: "{{ home_dir }}/.sbt/1.0/plugins/plugins.sbt"

- name: SBT Proxy repositories
  copy:
    src: files/repositories.sbt
    dest: "{{ home_dir }}/.sbt/repositories"
</pre>

</section>
</section>
<section>
<section id="slide-org9d0b1b4">
<h2 id="org9d0b1b4">Esas variables</h2>
<pre class="example">
touch group_vars/all
</pre>

<pre class="example">
---
home_dir: "{{ lookup('env', 'HOME') }}"
</pre>

</section>
</section>
<section>
<section id="slide-org5f04a91">
<h2 id="org5f04a91">Configurando SBT (II)</h2>
<pre class="example">
mkdir -p roles/programador/files
touch roles/programador/files/plugins.sbt
touch roles/programador/files/repositories.sbt
</pre>

</section>
</section>
<section>
<section id="slide-org7460478">
<h2 id="org7460478">cat roles/programador/files/plugins.sbt</h2>
<pre class="example">
addSbtPlugin("org.ensime" % "sbt-ensime" % "2.1.0")

addSbtPlugin("io.get-coursier" % "sbt-coursier" % "1.1.0-M1")

addSbtPlugin("net.virtual-void" % "sbt-dependency-graph" % "0.9.0")

addSbtPlugin("org.scoverage" % "sbt-scoverage" % "1.5.1")
</pre>

</section>
</section>
<section>
<section id="slide-orgdc1ee09">
<h2 id="orgdc1ee09">cat roles/programador/files/repositories.sbt</h2>
<pre class="example">
[repositories]
  local
  my-ivy-proxy-releases: https://nexus.proyecto.xyz/content/repositories/ivy-releases/, \
    [organization]/[module]/(scala_[scalaVersion]/)(sbt_[sbtVersion]/)[revision]/[type]s/[artifact](-[classifier]).[ext]
  my-maven-proxy-releases: https://nexus.proyecto.xyz/content/repositories/central/
</pre>

</section>
</section>
<section>
<section id="slide-org6cd8bff">
<h2 id="org6cd8bff">cat roles/programador/tasks/git.yml</h2>
<pre class="example">
---
- name: Git config directory
  file:
    path: "{{ home_dir }}/.config/git"
    state: directory
    mode: 0755

- name: Git setup
  template:
    src: templates/git_config.j2
    dest: "{{ home_dir }}/.config/git/config"
</pre>

</section>
</section>
<section>
<section id="slide-org0f486c4">
<h2 id="org0f486c4">Configurando GIT (II)</h2>
<p>
Qué son las plantillas?
</p>

<pre class="example">
mkdir -p roles/programador/templates
touch roles/programador/templates/git_config.j2
</pre>

</section>
</section>
<section>
<section id="slide-org621df05">
<h2 id="org621df05">cat roles/programador/templates/git<sub>config.j2</sub></h2>
<pre class="example">
[user]
	name = {{ git_username }}
	email = {{ git_email }}

[color]
	ui = auto

[push]
	default = simple

[core]
	editor = emacsclient -nw

[merge]
  tool = meld
</pre>

</section>
</section>
<section>
<section id="slide-org4be045a">
<h2 id="org4be045a">Configurando GIT (IV)</h2>
<p>
Y eso son &#x2026; variables?
</p>

<pre class="example">
mkdir -p roles/programador/vars
touch roles/programador/vars/main.yml
</pre>

</section>
</section>
<section>
<section id="slide-orgb03be17">
<h2 id="orgb03be17">cat roles/programador/vars/main.yml</h2>
<pre class="example">
---
git_username: Jose Miguel Martinez Carrasco
git_email: jm@0pt1mates.com
</pre>

</section>
</section>
<section>
<section id="slide-orgb8e6db6">
<h2 id="orgb8e6db6">Tareas de programador (II)</h2>
<p>
Y la nueva versión de <b><b>main.yml</b></b> queda:
</p>

<pre class="example">
---
- import_tasks: paquetes.yml
- import_tasks: git.yml
- import_tasks: sbt.yml
</pre>

</section>
</section>
<section>
<section id="slide-org90422ac">
<h2 id="org90422ac">Rol proyecto X</h2>
<p>
Llegados a este punto tenemos un entorno de trabajo básico pero funcional.
</p>

<p>
A continuación descubrimos algunos requisitos adicionales del proyecto, como una base de datos.
</p>

<p>
Ya hemos aprendido lo básico, así que sin muchas sorpresas vamos a
crear unas nuevas tareas para tener una base de datos contra la que
desarrollar.
</p>

</section>
</section>
<section>
<section id="slide-orgef9efec">
<h2 id="orgef9efec">Tareas</h2>
<pre class="example">
mkdir -p roles/proyectoX/tasks
touch roles/proyectoX/tasks/main.yml
touch roles/proyectoX/tasks/database.yml
</pre>

<pre class="example">
---
- import_tasks: database.yml
</pre>

</section>
</section>
<section>
<section id="slide-orgbc74c16">
<h2 id="orgbc74c16">Base de datos</h2>
<p>
Aunque podría ser cualquier otra cosa.
</p>

<pre class="example">
---
- name: Update pacman cache
  become: true
  pacman:
    update_cache: yes

- name: Install postgresql
  become: true
  pacman:
    name: "{{ item }}"
    state: present
  with_items:
    - postgresql
    - postgresql-docs

- name: Start postgresql service
  systemd:
    name: postgresql
    state: started
</pre>

</section>
</section>
<section>
<section id="slide-org5a417e6">
<h2 id="org5a417e6">Fatjar</h2>
<p>
Aquí quiero mostrar cómo generamos un fatjar del proyecto, y lo ejecutamos localmente como servicio, para:
</p>

<ul>
<li>ejecutar tests de integración</li>
<li>tests funcionales</li>

</ul>

</section>
</section>
<section>
<section id="slide-orgdf188e7">
<h2 id="orgdf188e7">Systemd unit</h2>
<pre class="example">
mkdir -p roles/fatjar/{tasks,templates,vars}
touch roles/fatjar/tasks/main.yml
touch roles/fatjar/templates/fatjar.service.j2
touch roles/fatjar/vars/all
</pre>

</section>
</section>
<section>
<section id="slide-org2511f5b">
<h2 id="org2511f5b">cat roles/fatjar/vars/all</h2>
<pre class="example">
service_user: "hello"
service_name: "Hello"
service_install_dir: "/opt/{{ service_name }}"
bin_location: "{{ service_install_dir }}/bin/server"
</pre>

</section>
</section>
<section>
<section id="slide-orge120201">
<h2 id="orge120201">cat roles/fatjar/templates/fatjar.service.j2</h2>
<pre class="example">
[Unit]
Description={{ service_name }}
After=syslog.target

[Service]
ExecStart={{ bin_location }}
User={{ service_user }}

[Install]
WantedBy=multi-user.target
</pre>

</section>
</section>
<section>
<section id="slide-org182da8f">
<h2 id="org182da8f">cat roles/fatjar/tasks/main.yml</h2>
<pre class="example">
- name: Create systemd directory
  file:
    path: "{{ service_install }}"
    state: directory
    mode: 0755

- name: Install fatjar service
  copy:
    src: "item"
    dest: "{{ service_install }}"
  with_items:
    - "{{ proyectox }}/target/pack/bin"
    - "{{ proyectox }}/target/pack/lib"

- name: Generate systemd unit
  template:
    src: fatjar.service.j2
    dest: "/lib/systemd/system/{{ service_name }}.service"
    mode: "u=rwx,g=rx,o=rx"

- name: Start service
  systemd: 
    state: started
    name: {{ service_name }}
</pre>

</section>
</section>
<section>
<section id="slide-orge682504">
<h2 id="orge682504">Playbook</h2>
<pre class="example">
---
- name: Preparacion proyecto X
  hosts: local
  connection: local
  roles:
    - programador
    - proyectoX
    - fatjar
</pre>

</section>
</section>
<section>
<section id="slide-org14a33db">
<h2 id="org14a33db">Conclusión</h2>
<pre class="example">
curl localhost:8080/hello/opensouthcode
</pre>

<pre class="example">
{                                                                                                                                    
  "message": "Hello, Open South Code"                                                                                                   
}
</pre>

</section>
</section>
<section>
<section id="slide-org26a1879">
<h2 id="org26a1879">Contacto</h2>
<p>
@jm2dev
</p>
</section>
</section>
</div>
</div>
<script src="http://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/head.min.js"></script>
<script src="http://cdn.jsdelivr.net/reveal.js/3.0.0/js/reveal.js"></script>

<script>
// Full list of configuration options available here:
// https://github.com/hakimel/reveal.js#configuration
Reveal.initialize({

controls: true,
progress: true,
history: false,
center: true,
slideNumber: 'c',
rollingLinks: false,
keyboard: true,
overview: true,

theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
transition: Reveal.getQueryHash().transition || 'Zoom', // default/cube/page/concave/zoom/linear/fade/none
transitionSpeed: 'default',
multiplex: {
    secret: '', // null if client
    id: '', // id, obtained from socket.io server
    url: '' // Location of socket.io server
},

// Optional libraries used to extend on reveal.js
dependencies: [
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/lib/js/classList.js', condition: function() { return !document.body.classList; } },
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
 { src: 'http://cdn.jsdelivr.net/reveal.js/3.0.0/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }]
});
</script>
</body>
</html>
